<div class="container">
    <input type="text" [(ngModel)]="searchTitle" placeholder="Search products..." />
    <button (click)="filterByTitle()">Search</button>

    <div class="products-grid">
      <div *ngFor="let product of filteredProducts" class="product-card" (click)="goToProductDetail(product.id)">
        <img [src]="product.images[0]" alt="{{ product.title }}" class="product-image">
        <h3>{{ product.title }}</h3>
        <p><strong>Price:</strong> ${{ product.price }}</p>
        <p><strong>Category:</strong> {{ product.category.name }}</p>
        <p>{{ getShortDescription(product.description) }}</p>
      </div>
    </div>
  </div>
